// ##### Custom Styles ##### //

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
}

[class^="col"] { // highlight all grid columns
    border: 1px solid red;
    background: #EFEFEF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
	background: #EFEFEF;
}

h2 {
	color: #F8991D; // orange color in dash logo
}

.btn-default { // Bootstrap v.2.3.2
	background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
}

.btn-default:hover {
	background-image: none;
	background-color: #E6E6E6;
	border-color: #ccc;
}

ul {
	@extend .list-unstyled; // Bootstrap CSS
}

footer {
	background: #fff;
}

.footer__logo--cdl {
	display: block;
	float: left;
}

.footer__text--cdl {
	display: block;
	float: left;
	width: 490px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}

.footer__logo__uc3 {
	display: block;
	float: left;
}

.footer__text--uc3 {
	display: block;
	float: left;
	width: 260px;
	text-align: right;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}
